# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# next
.next
out

# production
dist
build

# IDEs and editors
.idea
.vscode

# misc
.DS_Store
Thumbs.db


# vercel
.vercel
.env*.local
